---
layout: default
section_id: home


works:
  - image: images/portfolio/proxy-server.png
    title: ProxyServer.com
    link_to: portfolio-item.html
    desc: Web Development

  - image: images/portfolio/goalminded.png
    title: GoalMinded.com
    link_to: portfolio-item.html
    desc: Web Development

  - image: images/portfolio/visioncritical.png
    title: "#ILoveCustomers Campaign"
    link_to: portfolio-item.html
    desc: Web Development

  - image: images/portfolio/evidence-module.png
    title: Evidence Management System
    link_to: portfolio-item.html
    desc: Web Development

  - image: images/portfolio/iloverewards.png
    title: Maybank Rewards Microsite
    link_to: portfolio-item.html
    desc: Web Development

  - image: images/portfolio/small-business.png
    title: Small Business Websites
    link_to: portfolio-item.html
    desc: Web Development

  - image: images/portfolio/paradise-acres-market.png
    title: eCommerce Modifications
    link_to: portfolio-item.html
    desc: Web Development

  - image: images/portfolio/crane.jpeg
    title: "[ Your Project Here ]"
    link_to: https://prismwebdesign.acuityscheduling.com/schedule.php
    desc: Click to Schedule a Free Consult


services:
  - icon: trophy
    title: Web Design
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: cogs
    title: Web Development
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: pagelines
    title: Branding
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: lock
    title: Security
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.

milestones:
  - icon: folder-open
    from: 0
    to: 69
    title: Projects Completed
  - icon: coffee
    from: 0
    to: 726
    title: Cups of coffee offered
  - icon: thumbs-up
    from: 0
    to: 59
    title: Happy clients
  - icon: file-text
    from: 0
    to: 21
    title: Articles Published

---

<div class='full parallax hero-shot centered-text'>
  <div class='row'>
    <h1>We build business-driven websites.</h1>
    <a href="https://prismwebdesign.acuityscheduling.com/schedule.php" class="button">Schedule a free consult</a>
    <div class="three spacing"></div>
  </div>
</div>

<div class="four spacing"></div>

<div class="row">
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Results oriented' desc='Est aperiam ex sint maiores aliquam delectus minima rerum et natus rerum sit quae nostrum.' icon_class='fa fa-flask' delay='0' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Market aware' desc='Est aperiam ex sint maiores aliquam delectus minima rerum et natus rerum sit quae nostrum.' icon_class='fa fa-paper-plane-o' delay='200' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Mobile friendly' desc='Est aperiam ex sint maiores aliquam delectus minima rerum et natus rerum sit quae nostrum.' icon_class='fa fa-tablet' delay='400' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Conversation driven' desc='Est aperiam ex sint maiores aliquam delectus minima rerum et natus rerum sit quae nostrum.' icon_class='fa fa-comments-o' delay='600' shape_class='icon-text-circle' %}
  </div>
</div>

<div class="spacing"></div>

{% include portfolio-include.html %}
{% include ingredients.html %}
{% include milestones.html %}
{% include members.html %}
{% include our-customers.html %}

<div class='full no-padding' style='background: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Like what you see here? Checkout this theme and start to build your site immediately.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='http://themeforest.net/user/honryou/portfolio?ref=honryou'>Learn more</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>
