---
layout: default
title: Portfolio
section_id: portfolio
---


<div class='full parallax portfolio'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Portfolio" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#' data-proofer-ignore>All</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#' data-proofer-ignore>Graphic Design</a>
          </li>
          <li>
            <a data-cat='web-design' href='#' data-proofer-ignore>Web Design</a>
          </li>
          <li>
            <a data-cat='brand' href='#' data-proofer-ignore>Brand</a>
          </li>
          <li>
            <a data-cat='web-development' href='#' data-proofer-ignore>Web Development</a>
          </li>
          <li>
            <a data-cat='print' href='#' data-proofer-ignore>Print</a>
          </li>
        </ul>
      </div>

      {% include portfolio-gallery.html %}

    </div>
  </div>

  <div class='four spacing'></div>
</div>
