<div class='links'>
  <h3>Archives</h3>
  <ul>
    {% assign counter = 0 %}
    {% for post in site.posts %}
    	{% assign thisyear = post.date | date: "%B %Y" %}
    	{% assign prevyear = post.previous.date | date: "%B %Y" %}
    	{% assign counter = counter | plus: 1 %}
    	{% if thisyear != prevyear %}
    		<li><a href="/{{ post.date | date: "%Y" }}/{{ post.date | date: "%m"}}/">{{ thisyear }} ({{ counter }})</a></li>
        {% assign counter = 0 %}
    	{% endif %}
    {% endfor %}
  </ul>
</div>
<div class='links'>
  <h3>Categories</h3>
  {% category_list %}
</div>
<div class='links'>
  <h3>Recent Posts</h3>
  <ul>
    {% for recent_post in site.posts limit:5 %}
    <li>
      <a href='{{recent_post.url}}'>{{recent_post.title}}</a>
    </li>
    {% endfor %}
  </ul>
</div>
