.members .columns:last-child {
  float:left;
}

.hero-shot {
	//background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/planning.jpeg');
  @include adaptive-bg('planning.jpeg', .5);
	& h1 {
		color:white;
	}
}

.milestones {
  @include adaptive-bg('computers-on-desk.jpg', .5);
}

.customers {
  @include adaptive-bg('glass-roof.jpeg', .5);
}

.intro h3 {
	margin-bottom:0;
}

.milestones, .customers {
	color: #fff;
}

.spacing {
	clear:both;
}
