---
layout: blog
section_id: blog
---


<div class='row'>
  <div class='large-12 columns'>
    <div class='mod modBlogPost big'>
      <div class='images'>
        {% for image in page.images %}
          <div class='image'><img alt="" src="{{site.url}}/{{image}}" /></div>
        {% endfor %}
      </div>
      <div class='content'>
        <p class='info'>
          <span>{{page.date | date: "%B %d, %Y" }}</span>
          /
          <span>
            by {{page.author}}
          </span>
          /
          <span>
            <a href="http://prismwebdesign.net{{page.url}}#disqus_thread"># comments</a>
          </span>
        </p>
        <h3><a href="{{page.url}}">{{page.title}}</a></h3>
        {{ content }}
      </div>
    </div>
    <div class='two spacing'></div>

    <div id="disqus_thread"></div>
    <script>
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
         */

        var disqus_config = function () {
            this.page.url = "http://prismwebdesign.net{{page.url}}";  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = "{{page.id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() {  // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//prismwebdesign.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

    <div class='four spacing'></div>
  </div>
</div>
